html{
    background-color: black;
}
body {
    font-size: 0px;
    margin:auto;
}
header {
    background: black;
    text-align: center;
    padding-bottom: 130px;
}
h1 {
    font-size: 70px;
    font-family: 'Bungee Outline', cursive;
}
h2{
    font-size: 35px;
    font-family: 'Bungee', cursive;
    margin: 0px;
}
.headline {
    color: rgba(235, 0, 235, 1);
}
.headbutton {
    background-color: black;
    border: none;
    font-size: 35px;
    margin: 0px;
    font-family: 'Bungee', cursive;
    color: rgba(255, 0, 255, 0.8);
}
.headbutton:hover {
    color: rgba(250, 0, 250, 0.6);
}
.coding {
    height:400px;
    background-color: rgba(250, 0, 250, 0.6);
    text-align: center;
}
.codeline {
    color: black;
    margin: 0px;
}
